@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins";
    padding: 0;
    margin: 0;
}

body{
    background-color: #F3F3F7;
}

.barraLateral{
    position: fixed;
    background-color: white;
    width: 20vw;
    height: 100vh;
    left: 0;
    top: 0;
}

p{
    font-size: 1.0vw;
    font-weight: 400;
}

h1{
    padding-top: 3vh;
    font-size: 1.8vw;
    text-align: center;
}

a{
    text-decoration: none;
    color: #8A8A8A;
    margin-left: 2vw;
    font-size: 1.2vw;
}

.imgHome{
    position: fixed;
    top: 20vh;
    width: 1.7vw;
}

.pHome{
    position: fixed;
    top: 20vh;
    left: 5vw;
}

.imgBookshelf{
    position: fixed;
    top: 30vh;
    left: 2vw;
    width: 1.7vw;
}

.pLivros{
    position: fixed;
    top: 30vh;
    left: 5vw;
}

.barraPesquisa{
    position: absolute;
    left: 25vw;
    top: 2vh;
}

input[type=text]{
    border-radius: 20px;
    border: none;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.151);
    width: 24.5vw;
    height: 6.3vh;
    font-size: 1.2vw;
    padding-left: 20px;
}

.barraHorario{
    position: absolute;
    left: 53vw;
    top: 2vh;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.151);
    width: 27vw;
    height: 6.3vh;
    border-radius: 20px;
}

.imgRelogio{
    position: absolute;
    left: 1vw;
    top: 1.5vh;
    width: 1.5vw;
}

.imgCalendario{
    position: absolute;
    left: 12vw;
    top: 1.5vh;
    width: 1.5vw;
}

.barraUsuario{
    position: absolute;
    left: 86vw;
    top: 2vh;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.151);
    width: 12vw;
    height: 6.3vh;
    border-radius: 20px;
}

.bolaUsuario{
    position: absolute;
    background-color: #626262;
    border-radius: 50%;
    width: 2vw;
    text-align: center;
    top: 1vh;
    left: 1vw;
    font-size: 1.2vw;
}

.nomeUsuario{
    position: absolute;
    top: 1vh;
    left: 4vw;
    font-size: 1.2vw;
}

.barraComInfos{
    font-family: "Poppins";
    color:#4D4D4D;
    padding: 2vh;
    border-radius: 10px;
    height: 8vh;
    width: 80vw;
    position: absolute;
    top: 11.5vh;
    left: 9vw;
    align-items: center;
    font-weight: 200;
    font-size: 2.6vh;
}

h3.posicaoTitulo {
    font-weight: 500;
    position: absolute;
    top: 8vh;
    left: 23.5vw;
}

h3.posicaoCategoria {
    font-weight: 500;
    position: absolute;
    top: 8vh;
    left: 38.5vw;
}

h3.posicaoStatus {
    font-weight: 500;
    position: absolute;
    top: 8vh;
    left: 59.5vw;
}

.fichasLivros {
    background-color: white;
    border-radius: 7px;
    font-weight: normal;
    color:#3a3b3c;
    height: 6vw;
    width: 76vw;
    left: 22vw;
    top: 26vh;
    align-items: center;
    display: flex;
    font-weight: bold;
    justify-content:space-between;
    position: relative;
    margin-bottom: 1.2vw;
}

.imgPesquisa{
    position: absolute;
    border: none;
    background-color: white;
    left: 19vw;
    top: 1.5vh;
    cursor: pointer;
    width: 2vw;
    height: 2vh;
}

.imgCapa{
    width: 4vw;
    height: 12vh;
    margin-left: 10px;
}

.space1{
    width:17%;
    height: auto;
    text-align: center;
    border-bottom: 0;
}

.space2{
    width:23%;
    height: auto;
    text-align: center;
    border-bottom: 0;
}

.space3{
    width:23%;
    height: auto;
    text-align: center;
    border-bottom: 0;
}

.space4{
    width:23%;
    height: auto;
    text-align: center;
    border-bottom: 0;
}

.bordaVerde{
    border: none;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.151);
    background-color: #42BB4E;
    color: white;
    padding: 0.5vw;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2vw;
}

.bordaVerde:hover{
    background-color: #24692b;
}

.pegarEmprestado{
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.151);
    background-color: #42BB4E;
    color: white;
    padding: 3px;
    border-radius: 5px;
}

.emprestado{
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.151);
    background-color: #BB4242;
    color: white;
    padding: 3px;
    border-radius: 5px;
}

.marginTop{
    margin-top: 5px;
}

.local{
    background-image: url(imgStyles/map-pin.png);
    background-repeat: no-repeat;
    padding-left: 1.6vw;
    text-align: left;
    background-size: 1.3vw;
}

.pessoa{
    background-image: url(imgStyles/user.png);
    background-repeat: no-repeat;
    padding-left: 1.6vw;
    text-align: left;
    background-size: 1.3vw;
}

input[type=text].esconder{
    display: none;
}

.hora {
    position: absolute;
    left: 3.5vw;
    top: 1.2vh;
    font-size: 1.2vw;
    font-weight: 400;
    font-family: "Poppins";
}

.data {
    position: absolute;
    left: 14.7vw;
    top: 1.2vh;
    font-size: 1.2vw;
    font-weight: 400;
    font-family: "Poppins";
}

.limparFiltro {
    border: 1px solid;
    position: absolute;
    left: 19vw;
    top: -0.2vh;
    background-color: #47b1ff;
    color: black;
    font-weight: bold;
    padding: 1.05vh;
    border-top-right-radius: 20px;
    font-size: 1.2vw;
    border-bottom-right-radius: 20px;
}

.limparFiltro:hover {
    background-color: #0f85dc;
}

.imgLogout {
    position: absolute;
    width: 1.6vw;
    left: 9.7vw;
    top: 1.3vh;
}