@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins";
    padding: 0;
    margin: 0;
}

body{
    background-color: #F3F3F7;
}

.barraLateral{
    position: fixed;
    background-color: white;
    width: 20vw;
    height: 100vh;
    left: 0;
    top: 0;
}

p{
    font-size: 1.0vw;
    font-weight: 400;
}

h1{
    padding-top: 3vh;
    font-size: 1.8vw;
    text-align: center;
}

a{
    text-decoration: none;
    color: #8A8A8A;
    margin-left: 2vw;
    font-size: 1.2vw;
}

.imgHome{
    position: fixed;
    top: 20vh;
    width: 1.7vw;
}

.pHome{
    position: fixed;
    top: 20vh;
    left: 5vw;
}

.imgBookshelf{
    position: fixed;
    top: 30vh;
    left: 2vw;
    width: 1.7vw;
}

.pLivros{
    position: fixed;
    top: 30vh;
    left: 5vw;
}

.barraPesquisa{
    position: absolute;
    left: 25vw;
    top: 2vh;
}

input[type=text]{
    border-radius: 20px;
    border: none;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.151);
    width: 24.5vw;
    height: 6.3vh;
    background-image: url(img/Search.png);
    background-repeat: no-repeat;
    background-size: 1.5vw;
    background-position: right 5px center;
    font-size: 1.2vw;
    padding-left: 20px;
}

.barraHorario{
    position: absolute;
    left: 53vw;
    top: 2vh;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.151);
    width: 27vw;
    height: 6.3vh;
    border-radius: 20px;
}

.imgRelogio{
    position: absolute;
    left: 1vw;
    top: 1.5vh;
    width: 1.5vw;
}

.imgCalendario{
    position: absolute;
    left: 12vw;
    top: 1.5vh;
    width: 1.5vw;
}

.barraUsuario{
    position: absolute;
    left: 86vw;
    top: 2vh;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.151);
    width: 12vw;
    height: 6.3vh;
    border-radius: 20px;
}

.bolaUsuario{
    position: absolute;
    background-color: #626262;
    border-radius: 50%;
    width: 2vw;
    text-align: center;
    top: 1vh;
    left: 1vw;
    font-size: 1.2vw;
}

.nomeUsuario{
    position: absolute;
    top: 1vh;
    left: 4vw;
    font-size: 1.2vw;
}

.content-Body{
    position: absolute;
    left: 25.5vw;
    top: 14vh;
    font-size: 1.5vw;
}

.corAzul{
    color: #0089ED;
}

.container{
    display: flex;
    column-gap: 0.5vw;
    row-gap: 1vw;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 78vw;
}

.livroInfos{
    border-radius: 7px;
    position: relative;
    left: 25.5vw;
    top: 23vh;
    background-color: white;
    width: 13vw;
    height: 46vh;
}

.capaLivro{
    width: 8vw;
    height: 24vh;
    margin-top: 5px;
    margin-left: 20%;
}

.tituloLivro{
    text-align: center;
    font-size: 0.8vw;
}

.autorAnoLivro{
    text-align: center;
    font-size: 0.8vw;
}

.botaoEmprestado{
    margin-left: 20%;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    background-color: #A0A0A0;
    text-align: center;
    width: 8vw;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 1.2vw;
}

.botaoDevolver{
    margin-left: 20%;
    background-color: white;
    border: 1px solid #F76B56;
    color: #F76B56;
    width: 8vw;
    border-radius: 5px;
    margin-top: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
    font-size: 1.2vw;
}

.botaoDevolver:hover{
    background-color: #ffd8d8;
}

.hora {
    position: absolute;
    left: 3.5vw;
    top: 1.2vh;
    font-size: 1.2vw;
    font-weight: 400;
    font-family: "Poppins";
}

.data {
    position: absolute;
    left: 14.7vw;
    top: 1.2vh;
    font-size: 1.2vw;
    font-weight: 400;
    font-family: "Poppins";
}

.imgPesquisa{
    position: absolute;
    border: none;
    background-color: white;
    left: 19vw;
    top: 1.5vh;
    cursor: pointer;
    width: 2vw;
    height: 2vh;
}

.limparFiltro {
    border: 1px solid;
    position: absolute;
    left: 19vw;
    top: -0.2vh;
    background-color: #47b1ff;
    color: black;
    font-weight: bold;
    padding: 1.05vh;
    border-top-right-radius: 20px;
    font-size: 1.2vw;
    border-bottom-right-radius: 20px;
}

.limparFiltro:hover {
    background-color: #0f85dc;
}

.imgLogout {
    position: absolute;
    width: 1.6vw;
    left: 9.7vw;
    top: 1.3vh;
}
